  <div class="caja-camara" *ngIf="!!!thumbnail else hasThumbnail">
      <fa-icon class="camara-icon" [icon]="faCamera" (click)="addPicture()"></fa-icon>
  </div>
  <ng-template #hasThumbnail>
    <div class="caja-foto">
      <img src={{thumbnail}} class="preview" (click)="addPicture()" />
    </div>
  </ng-template>