image-uploader {

}

.caja-camara{
  background-color: #BDBDBD;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 0.5em;
}

.caja-foto{
  width: 4em;
  height: 4em;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 0.5em;
}

.camara-icon{
  font-size: 30px;
  color:#F5F5F5;
  left: 0.4em;
  top: 0.3em;
  position: absolute;
}

.distancia{
  top: 2em;
}

.preview {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

