<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lugares destacados</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let establecimiento of establecimientos">
        <ion-card (click)="goToDetalle(establecimiento.id)">
          <img src="{{establecimiento.imagen}}" />
          <ion-card-content>
            <ion-card-title>
              {{establecimiento.nombre}}
            </ion-card-title>
            <p>
              {{establecimiento.direccion}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="siguiente_pagina($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más establecimientos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>