page-grupos {
    .avatar-usuario {
        border-radius:50%;
        height:7rem;
        width:7rem;
        margin-left: 15% 
   }

    .avatar-usuario-sin-imagen {
        zoom: 5.4;
        margin-left: 15%;
        margin-top: -1.7px;
        margin-bottom: 2.3px;
        color: #BDBDBD;
    }

    .checked {
        height: 50px;
        width: 35px;
    }

    .check-item {
        .img-content {
            width: auto;
        .icon-check-users{
            font-size: 4em;
            color: color($colors, secondary);
            bottom: 0.9em;
            right: 0.6em;
            position: absolute;    
        }
    }
  }
  
    .check-preferencias {
        margin-left: 35%;
        .preferencias-content {
            width: auto;
        &.checked {
            position: relative;
            content: '';
        }
        .icon-check{
            font-size:80px;
            color: aqua;
            top: 15px;
            right: 15px;
            position: absolute;
        }
    }
  }  
   

    .fuente-de-los-nombres {
        font-size: 15px;
        text-align: center;
    }

    .image-recomendados {
        width: 75%;
        height: 174px;
        width: 309px;
    }

    ion-avatar,
    ion-avatar > img {
        border-radius:50%;
        height:12rem;
        width:12rem;
    }

    .nombre-establecimiento {
        margin-bottom: 10px;
        margin-top: -40px;
        color:white;
        font-weight: bold;
        margin-right: 1.2em;
    }

    .preferencias-icono {
        border-radius:50%;
        height:12rem;
        width:12rem;
    }

    .recomendados-title {
        margin-top: 0em;
        font-family: 'Raleway', sans-serif;
        margin-right: 6em;
    }
    
    .swiper-container-horizontal > .swiper-pagination {
        bottom: 5%;
        z-index: 99 !important;
    }

    .swiper-pagination-bullet {
        background: color($colors,secondary);
        opacity: 0.5;
        height: 0.7em;
        width: 0.7em;   
    }

    .swiper-pagination-bullet-active {
        background: color($colors,secondary);
        opacity: 1;
        height: 0.9em;
        width: 0.9em;
    }

    .slide-recomendados{
        margin-bottom: 1em;
    }
    

    .toolbar-color {
        background-color: color($colors, primary);
    }

    .toolbar-title-md {
        color:white;
        margin-left: 27%;
        margin-top:2%;
    }    

    .swiper-slide {
        display: block;
    }

    ion-slides {
        max-height: 250px;
    }
}