<ion-header class="toolbar-color">
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <ion-avatar item-start class="check-preferencias">
    <div class="preferencias-content checked">
      <fa-icon *ngIf="respuestaLoguedUser" class="icon-check" [icon]="faCheck"></fa-icon>
      <img class="preferencias-icono" src="assets/imgs/preferencias.png" (click)="goToPreferencias()">
    </div>
  </ion-avatar>
  <ion-title class="title-menu">Mis preferencias</ion-title>
</ion-header>
<ion-content>
  <ion-grid padding>
    <ion-row>
      <ion-col class="check-item" col-4 *ngFor="let respuesta of respuestas">
        <ion-icon *ngIf="!respuesta.imagenPerfil" class="avatar-usuario-sin-imagen" md="md-contact"></ion-icon>
        <div class="img-content">
        <fa-icon *ngIf="respuesta.resultado" class="icon-check-users" [icon]="faCheck"></fa-icon>
        <div class="test">
        <img *ngIf="respuesta.imagenPerfil" class="avatar-usuario"    [src]="respuesta.imagenPerfil">
        <h3 class="fuente-de-los-nombres">{{ respuesta.nombre }}</h3>
      </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
 <ion-slides pager="true" *ngIf="recomendados">
    <ion-slide *ngFor="let item of recomendados; let i = index">
      <div class="slide-recomendados">
        <p class="recomendados-title">Sus recomendados</p>
        <img class="image-recomendados" [src]="item.imagen" (click)="saveVoto(item.id)">
        <p class="nombre-establecimiento">{{item.nombre}}</p>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-item class="resultado-votacion-container">
    Resultado de votación    
  </ion-item>

  <ion-item *ngFor="let item of resultado; let i = index">
    <div *ngIf="item.gano; else NotWinner">
      <ion-icon name='star' item-start style="color: yellow"></ion-icon>
      {{item.name}}
    </div>
    
    <ng-template #NotWinner>
      <ion-icon name='sad' item-start style="color: red"></ion-icon>
      {{item.name}}
    </ng-template>
  </ion-item>
  
</ion-content>