<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Preferencias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="tabBarrios">
      <ion-segment-button value="tabBarrios">
        BARRIO
      </ion-segment-button>
      <ion-segment-button value="tabGastronomia">
        GASTRONOMIA
      </ion-segment-button>
      <ion-segment-button value="tabCaracteristicas">
        CARACTERISTICAS
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="tabBarrios">
    <ion-list *ngSwitchCase="'tabBarrios'">
      <ion-item *ngFor="let barrio of barrios">
        <ion-label>{{barrio.nombre}}</ion-label>
        <ion-checkbox [(ngModel)]="barrio.selected" color="blue" checked="false"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'tabGastronomia'">
      <ion-item *ngFor="let gastronomia of gastronomias">
        <ion-label>{{gastronomia.nombre}}</ion-label>
        <ion-checkbox [(ngModel)]="gastronomia.selected" color="blue" checked="false"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'tabCaracteristicas'">
      <ion-item *ngFor="let caracteristica of caracteristicas">
        <ion-label>{{caracteristica.nombre}}</ion-label>
        <ion-checkbox [(ngModel)]="caracteristica.selected" color="blue" checked="false"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-fab bottom right>
  <button ion-fab color="secondary" [disabled]="didUserChoosePreferences()" (click)="savePreferenciasSelected()">
    <div class="check-position">
      <fa-icon [icon]="faCheck" class="size-button"></fa-icon>
    </div>
  </button>
</ion-fab>