<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Crear grupo</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="caja-camara-container">
    <image-uploader (imageSelected)="imageSelected($event)"></image-uploader>
    <ion-item class="nombre-del-Grupo">
      <ion-input [(ngModel)]="nombreDelGrupo" placeholder="Nombre del grupo"></ion-input>
    </ion-item>
  </div>
  <rl-tag-input padding [(ngModel)]="usuarios"
    [addOnBlur]="false"
    placeholder="Emails de usuarios"
    [autocomplete]="true"
    [autocompleteItems]="usuariosMails"
    (keyup)="onKeyUp($event)">
  </rl-tag-input>
  <button ion-button round block color="secondary" [disabled]="usuarios.length < 1 || !nombreDelGrupo" (click)="create()">Crear grupo</button>
</ion-content>