page-crear-grupo {
    [_nghost-c1] {
        background-color: color($colors, primary);
        border-radius: 4em;
        font-size: 0.9em;
        color: #fff;
        margin-bottom: 0.3em;
        font-family: 'Raleway';
    }

    [_nghost-c1] .ng2-tag-input-remove[_ngcontent-c1] {
        color: color($colors, primary);
        background: #fff;
        height: 1.1em;
        width: 1.1em;
        line-height: 1.1em;
    }

    [_nghost-c0] .ng2-tag-input-field[_ngcontent-c0] {
        font-family: 'Raleway';
    }

    .nombre-del-Grupo{
        left: 0;
        position: relative;
        display: inline-block;
        width: 80%;
      } 
}