page-mi-cuenta {
    .margen-top{
        margin-top: 20%;
    }

    .caja-camara {
        width: 6em;
        height: 6em;
        left: 10em;
        top: 0;
    }

    .camara-icon {
        font-size: 3em;
        top: 0.4em;
        left: 0.5em;
    }

    .preview {
        border-radius: 50%;
        width: 7em;
        height: 7em
      }

    .caja-foto{
        width: 7em;
        height: 7em;
        left: 10em;
        top: 0;
    }
}