<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi cuenta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="margen-top" *ngIf="user">
  <image-uploader [initialPicture]="user.imagenPerfil" (imageSelected)="imageSelected($event)"></image-uploader>
  <ion-list>
    <ion-item>
      <ion-label stacked>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="user.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="user.apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Correo</ion-label>
      <ion-input type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Fecha de nacimiento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [ngModel]="user.fechaNacimiento | date:'yyyy-MM-dd'" (ngModelChange)="setBirthDate($event)"></ion-datetime>
    </ion-item>

    <ion-item>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button round block color="secondary" [disabled]="user.nombre.length < 3 || user.email.length < 6
    || user.apellido.length < 3 || user.fechaNacimiento.length < 5" (click)="update()">Guardar datos</button>
  </div>
</ion-content>