<ion-header>
  <ion-navbar color="primary">
    <ion-title>Registrarse </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-list>
      <image-uploader (imageSelected)="imageSelected($event)"></image-uploader>

      <ion-item>
        <ion-label stacked>Nombre</ion-label>
        <ion-input type="text" formControlName="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Apellido</ion-label>
        <ion-input type="text" formControlName="apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Correo</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Fecha de nacimiento</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" formControlName="fechaNacimiento"></ion-datetime>
      </ion-item>

      <ion-item>
      </ion-item>
    </ion-list>
    <button ion-button round block color="secondary" [disabled]="!form.valid" (click)="create()"> Registrarse </button>
  </form>
</ion-content>