<ion-header class="card-background-page">
  <ion-card>
    <img [src]="establecimiento?.imagen" />
    <div class="card-title"> {{ establecimiento?.nombre }} </div>
    <div class="card-subtitle">
      <button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
      {{ establecimiento?.direccion }}
    </div>
  </ion-card>
</ion-header>
<div class="container">
  <ion-content>
    <div>
      <h2 class="title">Caracteristicas</h2>
    </div>
    <ion-card>
      <ion-list>
        <ion-item *ngFor="let caracteristica of establecimiento?.caracteristicas">
          {{ caracteristica }}
        </ion-item>
      </ion-list>
    </ion-card>
    <div>
      <h2 class="title">Gastronomia</h2>
    </div>
    <ion-card>
      <ion-list>
        <ion-item *ngFor="let gastronomia of establecimiento?.gastronomias">
          {{ gastronomia }}
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-content>
</div>