page-detalle-establecimiento {
    .card-background-page {
        ion-icon{
            color: white;
            font-size: 1.7em;
            position: absolute;
            left: 5%;
            top: -25%;
        }

        ion-card {
          position: relative;
          text-align: center;
          margin-top: 0px  !important;
          margin-bottom: 0px !important;
          margin-left: 0px !important;
          margin-right: 0px !important;
        }

        .card-md{
            width: 100%;
        }

        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }

        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 5%;
            width: 100%;
            color: #fff;
            font-weight: bold;
        }
      }

      .title{
        font-size:1.5rem;
        font-weight: bold;
        color: grey;
        margin-left: 5%;
    }

    .content-md{
        background-color: color($colors, light) !important;
        margin-top: -15%;
    }

    .list-md {
        margin-top: 0;
    }

    .card-md{
        width: 100%;
    }

    ion-card {
        position: relative;
        text-align: center;
        margin-top: 0px  !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
      }

    .container{
        width: 100%;
        height: 55%;
        margin-top: 75%;
    }  
}
