page-grupos-del-usuario{
    .size-button{
    font-size: 3em;
    }
    .list-md{
        margin-top: 0;
    } 
    .grupo-sin-imagen{
        color: white;
        border-radius: 60px;
        box-shadow: 0px 0px 2px #BDBDBD;
        padding: 0.5em 0.6em;
        background-color: #BDBDBD;
    }
}