<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Listado de grupos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-searchbar #searchbar placeholder="Buscar grupo">
  </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let grupo of grupos" (click)="goToGrupo(grupo.id)">
      <ion-avatar item-start>
        <img *ngIf="grupo.imagenPerfil"  [src]=" grupo.imagenPerfil"> 
       <ion-icon *ngIf="!grupo.imagenPerfil" class="grupo-sin-imagen" md="md-contacts"></ion-icon>

      </ion-avatar>
      <h2>{{ grupo.nombre }}</h2>
      <ion-note item-end>{{ grupo.fechaCreacion|date:'dd/MM/y' }}</ion-note>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onScroll($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más grupos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="goToCrearGrupo()" class="size-button"> + </button>
  </ion-fab>
</ion-content>