<ion-menu [content]="content">
  <ion-item-divider>
    <p color="color-name">
      <strong>{{fullName}}</strong>
      <strong>{{name}}</strong>
    </p>
  </ion-item-divider>
  <ion-content>
    <ion-list no-lines style="margin-top: 4em">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
      <ion-item-divider>
      </ion-item-divider>

      <button menuClose ion-item (click)="logout($event)">
        <ion-icon md="md-exit" item-left></ion-icon>
        Cerrar Sesión
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>