<ion-content padding color="primary" class="login">
  <div class="col-md-6 text-center">
    <img src="assets/imgs/logofondotransparente.png" class="img-responsive">
  </div>
  <form [formGroup]="form">
    <ion-item class="item-transparent">
      <ion-label stacked style="color:white">Email</ion-label>
      <ion-input class="input-color" type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="item-transparent">
      <ion-label stacked style="color:white">Password</ion-label>
      <ion-input class="input-color" type="password" formControlName="password"></ion-input>
    </ion-item>

    <button ion-button round block color="secondary" [disabled]="!form.valid" (click)="login()" class="ingresar-button">Ingresar</button>
  </form>
  <button class="enlace-registro" ion-button color="gray" block clear (click)="goToRegistrarse()">¿No tienes cuenta?, crea una aquí </button>
  <button class="enlace-registro" ion-button color="gray" block clear (click)="loginWithFacebook()"> Facebook </button>
</ion-content>