page-login {
    background-color: color($colors, primary) !important; 
    .content-md{
       background-color: color($colors, primary) !important;
    }

    .item-transparent{
        background-color: transparent;
    }

    .ingresar-button{
        top: 4em;
    }

    .enlace-registro{
        top:5em; 
        color: color($colors, blanco);
    }

    .input-color{
        color:color($colors, blanco);
    }

    .login{
        top: 4em;
    }

    img.img-responsive {
        margin: auto;
        display: block;
        height: 10em;
        width: 10em;
        top:5em;
    }
}